footer{
    margin-top:96px;
    background-color: #0D1322;
    padding: 64px 24px;
    border-top: 1px solid #2563EB26;

}
.logoFooter{
    display: flex;
    background-color: #2563EB;
    border-radius: 12px;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #64748B;
}
.tituloFooter{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Footer1{
    display: flex;
    justify-content: space-between;
}
footer h2{
    font-size: 12px;
    color:#64748B;
    font-weight:bold;
}
.container{
    width: 236px;
    height: 166px;
}
.conteinerBody{
    padding-top: 16px;
}
.container a{
    display: block;
    padding-top: 10px; 
    color: #64748B;
    text-decoration: none;
}
.contato{
    display: flex;
    color: #64748B;
    gap: 10px;
    padding-top: 12px;
}
.redes{
    padding-top: 20px;
    gap: 8px;
}
.redes a{
    justify-items: center;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 12px;
    background-color: #141D30;
    border: 1px solid #2563EB26;
    padding: 0;
    align-content: center;
}
.Footer2{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    padding-top: 24px;
    border-top: 1px solid #2563EB26;
}