@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');header{
    display: flex;
    background-color: #080C14CC;
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 14px 24px;
    font-family: "Inter";
    
}
.títuloHeader{
    display: flex;
    gap:10px;
    align-items: center;
}
.logoHeader{
    display: flex;
    background-color: #2563EB;
    border-radius: 12px;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}
.btnExplorar{
    display: flex;
    border-radius: 16px;
    padding: 8px 16px;
    gap: 8px;
    background-color: #2563EB;
    justify-content: center;
    align-items: center;
}
.btnExplorar img{
    width: 13px;
    height: 13px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
header nav a{
    border-radius: 12px;
    padding: 8px 16px;
    color: #64748B;
    text-decoration: none;
}
header a{
    text-decoration: none;
    color: white;
}
#self{
    background-color: #2563EB1A;
    color: #2563EB;
}
