@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.idx1{
    display: flex;
    padding: 96px 24px;
    background-image: linear-gradient(to bottom right, #16245680,#080C14);
}
.idx1 h1{
    font-size: 72px;
    font-family: "Barlow Condensed";
}
.idx1 p{
    color: #64748B;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    padding-top: 24px;
    margin-right: 52px;
}
.slogan{
    display: flex;
    border-radius: 20px;
    background-color: #2563EB1A;
    border: 1px solid #2563EB4D;
    padding: 6px 12px;
    width: fit-content;
    gap: 8px;
    color: #2563EB;
    align-items: center;
    margin-bottom: 31px;
    align-content: center;
}
.idx1 span{
    color: #2563EB;
}
.container1{
    width: 500px;
    height: 665px;
}
.btns{
    display: flex;
    gap: 16px;
    padding-top: 40px;
}
#btnExp{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #2563EB;
    gap: 8px;
    padding: 14px 28px;
    color: white;
    text-decoration: none;
    width: fit-content;
}
#btnSM{
    border-radius: 16px;
    border: 1px solid #2563EB26;
    padding: 14px 28px;
    text-decoration: none;
    color:#64748B ;
}
.stats{
    padding-top: 56px;
    height: 112px;
    gap: 40px;
    display: flex;
}
.stats h2{
    font-family: "Inter";
    font-weight: 900;
    font-style: "Black";
    font-size: 30px;
    color: #2563EB;
}
.stats p{
    padding-top: 4px;
    font-size: 12px;
    margin: 0;
}

.idx2{
    padding: 80px 24px;
    display: flex;
    gap: 16px;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    width: 254px;
    height: 149px;
    border-radius: 16px;
    background-color: #0D1322;
    border: 1px solid #2563EB26;
    padding: 24px;
}
.card img{
    width: 20px;
    height: 20px;
}
.iconeCard{
    background-color: #2563EB1A;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.card h3{
    padding-top: 16px;
    font-family: "Barlow Condensed";
    font-weight: 800;
    font-size: 14px;
}
.card p{
    color: #64748B;
    padding-top: 4px;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
}
.Destaques{
    padding: 0 24px;
}
.Destaques p{
    font-size: 12px;
    color: #2563EB;
}
.Destaques h1{
    padding-top: 8px;
    font-family: "Barlow Condensed";
    font-size: 48px;
}
.DestaquesTopo {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.Destaques a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Inter";
    font-size: 14px;
    color: #2563EB;
    gap:8px;
    
}
.Destaques a img{
    width: 15px;
    height: 15px;
}
.DestaquesCards{
    display: flex;
    padding-top:40px ;
    gap: 20px;
    justify-content: center;
}
.DestaqueCard{
    border-radius: 16px;
    border: 1px solid #2563EB26;
    background-color: #0D1322;
    width: 251px;
    height: 376px;
}
.disponibilidade{
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 2px 8px;
    gap: 4px;
    padding: 4px 10px;
    height: fit-content;
}
.categoria{
    border-radius: 4px;
    border: 1px;
    padding: 2px 8px;
    gap: 4px;
}
.BodyCard h3{
    padding-bottom:2px; 
    font-family:"Barlow Condensed";
    font-size:20px;
    color:#F1F5F9;
}
.BodyCard p{
    padding-bottom:12px; 
    font-size:12px;
    color: #64748B;
}
.imageCard{
    height: 192px;
    width: 249px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 12px;
}
.bolinha{
    width: 6px;
    height: 6px;
    border-radius: 3px;
}